@charset "uft-8";
body, div {
    margin: 0;
    padding: 0;
}
.sences {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.layer-horizontal {
    position: absolute;
    width: 20000px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: skyblue;
}
.cloud {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    background: url(images/cloud.png);
}
.mountain {
    position: absolute;
    width: 100%;
    height: 800px;
    left: -100px;
    bottom: -100px;
    background: url(images/mountain.png);
    background-size: auto 800px;
}
.tree {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    bottom: 90px;
    background: url(images/trees.png);
    /* 图片拉伸的属性，用来设置背景图片的大小 */
    background-size: auto 300px;
}
.background {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
    background: url(images/background.png);
}